.contact__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    width: 450px;
    font-size: 18px;
}


ul {
    padding: 0;
}

.delete__btn {
  width: 80px;  
  font-weight: 600;
  padding: 6px;
  background-color: rgb(226, 88, 64);
  border-radius: 14px;
  transition: all 250ms;
}

.delete__btn:hover {
  transform: scale(1.1);
  box-shadow: 10px 15px 5px rgba(86, 84, 84, 0.56);
}